- page_title _('Geo Replication')

%header.py-2
  %h2.page-title
    = _('Geo Replication')
  %p
    = s_('Geo|Review replication status, and resynchronize and reverify items with the primary node.')
%ul.nav-links.nav.nav-tabs.border-top.border-bottom.border-secondary-100
  = nav_link(path: 'admin/geo/projects#index', html_options: { class: 'gl-pr-2' }) do
    = link_to admin_geo_projects_path, title: _('Projects') do
      %span
        = _('Projects')
  = nav_link(path: 'admin/geo/uploads#index', html_options: { class: 'gl-pr-2' }) do
    = link_to admin_geo_uploads_path, title: _('Uploads') do
      %span
        = _('Uploads')
  = nav_link(path: 'admin/geo/designs#index', html_options: { class: 'gl-pr-2' }) do
    = link_to admin_geo_designs_path, title: _('Designs') do
      %span
        = _('Designs')
  = nav_link(path: 'admin/geo/package_files#index', html_options: { class: 'gl-pr-2' }) do
    = link_to admin_geo_package_files_path, title: _('Package Files') do
      %span
        = _('Package Files')

